section#pricing {
  text-align: center;
  padding: 5rem 0;

  h2.title {
    font-size: 35px;
    font-weight: 600;
    line-height: 30px;
    color: $dark-color;
  }

  p {
    color: $grey-color;
    margin: 2rem 0;
  }

  .plans {
    display: flex;
    align-items: center;
    gap: 2rem;

    .card {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .plan {
        font-size: 1.2rem;
        color: $dark-color;
        font-weight: 500;
        text-transform: uppercase;
      }

      .price {
        font-size: 3rem;
        color: $primary-color;
        line-height: 1;

        sup {
          font-size: 0.5em;
        }
      }

      li {
        line-height: 2;
        color: $grey-color;
      }
    }
  }
}
